/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('../fonts/lato-v20-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v20-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html{
    box-sizing: border-box;
}

* ,*::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Lato';
    font-style: normal;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}
img{
    max-width: 100%;
    height: auto;
}
.wrapper{
    max-width: 1060px;
    margin: auto;
    padding: 0 15px;
}
.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}
.section-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}
.section-title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Header styles start */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .5s;
    padding-bottom: 30px;
    z-index: 999;
  }
.header_active{
    background: #0E1D28;
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header__wrapper_active{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 36px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 82px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header__link:hover,.header__link:focus,.header__link:active{
    opacity: .75;
}
.header__burger{
    width:40px;
    height: 28px;
    position:relative;
    display: none;
}
.burger__line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
}
.burger__line_first{
    top:0;
}
.burger__line_second{
    top:50%;
    transform:translateY(-50%)
}
.burger__line_third{
    bottom: 0;
}

/* Header styles end */

/* Intro styles start */

.intro{
    min-height: 962px;
    background: url(../img/intro-bg.jpg) no-repeat center;
    padding-top: 263px;
    padding-bottom: 223px;
}
.intro__title{
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 619px;
    margin-bottom: 22px;
}
.intro__subtitles{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color:white;
    max-width: 546px;
    margin-bottom: 59px;
}
/* Intro styles end */

/* Form styles start */

.search-form__intro{
    display: flex;
    flex-wrap:wrap;
}

.search-form__field{
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    background: transparent url(../img/svg/circle-icon.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.search-form__field::placeholder{
    color: white;
}
.search-form__submit{
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color:white;
    line-height: 29px;
    background:#1B7DFF;
    border: 0;
}
.search-form__submit:hover,.searc-form__submit:focus, .searc-form__submit:active{
    background:#074da9;
}
/* Form styles end */

/* Benefits styles start */

.benefits{
    margin-bottom: 131px;
    
}
.benefits__wrap{
    max-width: 1262px;
    background: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}
.benefits__title{
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position:absolute;
    top: 0;
    left: 0;
    transform: translateY(-99%);
    background-color: white;
}
.benefits__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:55px;
    padding: 0 100px;
}
.benefits__card{
    margin-bottom: 112px;;
    grid-column: span 1;
}
.benefits__card-pic{
    margin-bottom:37px;
    max-width: 66px;
}
.benefits__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}
.benefits__card-desc{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}
.benefits__carrds-thumb{
    display: block;
}
.benefits__card-more{
    display:inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat 95% center;
    transition: .2s all;
}
.benefits__card-more:hover,.benefits__card-more:focus{
    background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
}

/* Benefits styes end */

/* Places styles start */
.places{
    margin-bottom: 131px;
}
.places__caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}
.places__title{
    margin-right: 15px;
}
.places__view-all{
    font-size: 16px;
    color: #006DFE;
    text-decoration:none;
    padding-right: 59px;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
}
.places__view-all:hover,.places__view-all:focus{
    opacity: .65;
}
.places__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap:10px;
    grid-row-gap: 10px;
}
.places__card{
    position:relative;
    overflow: hidden;
}
.places__card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position:absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.places__card:hover .places__card-pic{
    transform: scale(1.05)
}
.places__card-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    position: absolute;
    bottom: 27px;
    color: white;
    left:29px;
    z-index: 3;
}
.places__card_size_lg{
    grid-column: span 3;
}
.places__card_size_sm{
    grid-column: span 2;
}
.places__card-pic{
    width: 100%;
    transition: .15s all;
}
.places__card-pic_size_lg{
    height: 354px;
    object-fit: cover;
}
.places__card-pic_size_sm{
    height: 283px;
    object-fit: cover;
}
.places__card-link{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:4;
}

/* Places styles end */

/* Tours styles start*/

.tours{
    margin-bottom: 139px;
}
.tours__tour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 108px;
    align-items: center;
    margin-bottom: 77px;
}
.tour__info{
    padding-left:47px;
}
.tour__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}
.tour__desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}
.tour__more{
    font-size: 16px;
    color: #006DFE;
    text-decoration:none;
    padding-right: 59px;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
}
.tour__more:hover,.tour__more:focus{
    opacity: .65;
}

/* Tours styles end /*

/* Top styles start */

.top{
    margin-bottom: 86px;
}
.top__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 57px;
    grid-row-gap: 57px;
}
.top__card{
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}
.top__title{
    margin-bottom: 54px;
}
.top__card-pic{
    position: relative;
    margin-bottom: 45px;
}
.top__card-stats{
    padding: 16px 25px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.top__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0;
}
.top__card-likes{
    margin-right: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 20px;
    background: url(../img/svg/heart-ico.svg) no-repeat right;
}
.top__card-comments{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:white;
    padding-right: 23px;
    background: url(../img/svg/comment-ico.svg) no-repeat right;
}
.top__card-desc{
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 24px;
}
.top__card-more{
    margin: auto 0 0;
    width: 118px;
    padding: 12px 19px;
    background: #006DFE;
    text-decoration: none;
    color: white;
}
.top__card-more:hover, .top__card-more:focus, .top__card-more:active{
    background: #074da9;
}

/* Top styles end */

/* Viedos styles start*/

.videos{
    width: 100%;
}
.videos__wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.video__item{
    padding-top: 56.25%;
}
.video__element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Videos styles end */

/* Footer styles start */

.footer{
    background: #0E1D28;
    padding: 119px 0;
}
.footer__item{
    display: flex;
    flex-wrap: wrap;
}
.footer__logo{
    flex-grow: 1;
}
.footer__nav{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    flex-grow: 1;
}
.footer__menu-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color:white;
}
.footer__menu-link{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.footer__menu-link:hover,.footer__menu-link:active,.footer__menu-link:focus{
    opacity: .75;
}

/* Footer styles end */

/* Media start */

@media screen and (max-width:960px){
    .search-form__field{
        margin-bottom: 25px;
    }
    .benefits__wrap{
        box-shadow: none;
    }
    .benefits__cards{
        padding: 0 15px;
        grid-column-gap: 35px;
    }
    .benefits__title{
        padding: 55px 15px;
    }
    .benefits{
        margin-bottom: 50px;
    }
    .benefits__card{
        margin-bottom: 40px;
    }
    .places__card_size_lg{
        grid-column: span 6;
    }
    .places__card_size_sm{
        grid-column: span 6;
    }
    .placed__card-pic_size_sm{
        height: 354px;
        object-fit: cover;
    }
    .tours__tour{
        grid-column-gap:35px;
    }
    .tour__info{
        padding-left: 0;
    }
    .tour__title{
        margin-bottom: 15px;
    }
    .tour__desc{
        margin-bottom: 15px;
    }
    .top__cards{
        grid-column-gap:25px;
        grid-row-gap: 55px;
    }
    .top__card{
        grid-column: span 3;
    }
    .top__card-pic{
        margin-bottom: 25px;
    }
    .footer{
        padding: 60px 0;
    }
}

@media screen and (max-width:767px){
    .header__wrapper{
        padding-top: 28px;
    }
    .header__burger{
        display: block;
    }
    .header__nav{
        position: fixed;
        width:100%;
        height: 100%;
        top:0;
        left:0;
        background-color: black;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
    .header__nav_active{
        transform:translateX(0);
    }
    .header__item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__item:last-child{
        margin-bottom: 0;
    }
    .header__link{
        font-size: 42px;
        line-height: 48px;
    }
    .header__nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
    .header__nav-close-line{
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top:50%;
    }
    .header__nav-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    .intro{
        padding-top:125px;
    }
    .intro__title{
        font-size: 32px;
        line-height: 48px;
    }
    .intro__subtitles{
        font-size: 14px;
    }
    .search-form__field{
        margin-right: 0;
        width: 100%;
        padding-bottom: 12px;
        background: transparent url(../img/svg/circle-icon.svg) no-repeat left 2px;
    }
    .search-form__field::placeholder{
        font-size: 16px;
    }
    .benefits{
        margin-bottom: 36px;
    }
    .benefits__card{
        grid-column: span 3;
    }
    .benefits__card-pic{
        margin-bottom: 20px;
    }
    .benefits__card-title{
        margin-bottom: 12px;
    }
    .benefits__card-desc{
        margin-bottom: 20px;
    }
    .section-title{
        margin-bottom: 25px;
    }
    .section-title::after{
        width: 84px;
    }
    .places{
        margin-bottom: 76px;
    }
    .places__card-pic_size_lg,.places__card-pic_size_sm{
        height: 230px;
    }
    .places__view-all{
        margin-bottom: 25px;
    }
    .places__caption {
        margin-bottom: 0;
    }
    .tours{
        margin-bottom: 76px;
    }
    .tour__pic, .tour__info{
        grid-column: span 2;
    }
    .tour__pic{
        margin-bottom: 12px;
    }
    .tour__pic_mob-first{
        grid-row-start: -1;
    }
    .tours__tour{
        margin-bottom: 50px;
    }
    .top{
        margin-bottom: 76;
    }
    .top__card{
        grid-column: span 6;
    }
    .top__card-stats{
        max-width: 386px;
    }
    .top__card-desc{
        margin-bottom: 15px;
    }
    .footer__logo{
        width: 100%;
        margin-bottom: 24px;
    }
    .footer__menu{
        width: 50%;
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 500px){
    .header__nav{
        padding: 75px 30px;
    }
    .search-form__submit{
        width: 100%;
    }
}

/* Media end */